body {
    margin: 0;
    background: black;
    color: white;
    font-family: roboto, arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #cont-btn {
    display: flex;
  }
  
  .user-choice {
    width: 200px;
    height: auto;
    padding: 5px;
    border: 1px solid white;
    box-sizing: border-box;
  }